*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background-color:rgb(247, 199, 206);   
}

h1 {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;

    font-size: clamp(50pt,8vw ,80pt);
    font-family: "Bahnschrift"; 
    text-align: center;
    color: darkblue;
}

h2{
    color: darkblue;
}

h3 {
    color: darkblue;
}

h4{
   color:darkblue;
}

p {
    margin-top: 2vw;
    margin-left: 15%;
    margin-right: 10%;
    margin-bottom:2vw;

    font-family: Helvetica;
}

img {
    margin-top: 1vw;
    margin-left: 10%;
    margin-right: 10%;

    color: darkblue;
}

a{
    margin-left: 10%;
    font-family: Helvetica;
    color: darkblue;
}

a:visited {
    color: darkblue;
}

a:hover{
    color: darkblue;
}

footer {
    position: fixed;
    bottom:0;
    width : 100%;

    padding-top: 2vw;


    background-color: darkorchid;
    float: middle;
    
}



.logo {
    width: clamp(60pt,6vw,100pt);

    margin-top: 1vw;
    margin-left: -8%;


}

.langue {
    background-color: darkblue;

    width : clamp(50pt,6vw,100pt);
    float:right;

    color: pink;
    font-size:clamp(10pt,2vw,25pt);
}

.menu{
    width : clamp(40pt,6vw,100pt);
    margin-top: 2vw;
    color: darkblue;
    position: fixed;

    text-align: center;
    font-size:clamp(10pt,3vw,25pt);

}   

.project{
    color: darkblue;
}

/*project*/

.projectPortfolio {
    color: darkblue;
}

/*projet*/

.Croquis {
    color: darkblue;
}

.copyright{
    color: grey;
    font-size: 8pt;
}

