/* font*/
@font-face {
    font-family : titre;
    src: url("https://lucie-brosson.github.io/Ressource/fonts/Format_1452.otf")
}

@font-face {
    font-family : texte;
    src: url("https://lucie-brosson.github.io/Ressource/fonts/GeosansLight.ttf")
}

/* rest of the website*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    background-color:rgb(241, 212, 217);  
   
}

.page-container{
    position : relative;
    min-height:25vw;
}

.content-wrap {
    padding-bottom: 150pt;    /* Footer height */
}



h1 {
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;

    font-size: clamp(50pt,8vw ,80pt);
    font-family: titre; 
    text-align: center;
    color: darkblue;
}

h2{
    font-family: texte;
    color: darkblue;
}

h3 {
    color: darkblue;
    font-family: texte;
    font-size: 5vw;
    margin-left: 20vw;
}

h4{
    font-family: texte;
   color:darkblue;
}

p {
    font-family: texte;
    margin-top: 2vw;
    margin-left: 15%;
    margin-right: 10%;
    margin-bottom:2vw;
}

img {
    margin-top: 1vw;
    margin-left: 11%;
    margin-right: 10%;

    color: white;

    width: clamp(40pt,60vw,500pt);
}

a{
    margin-left: 10%;
    font-family: Helvetica;
}

a:visited {
    color: palevioletred;
}

a:hover{
  color:rgb(142, 57, 192);
}

footer {
   /* position: fixed;
    bottom: 0;*/
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 120pt;

    background-color:darkblue;
    float: middle;

    font-size:12pt;
    color:white;

    text-align: center;

}

.footerLink{
    color:lightpink;
}



.logo {
    width: clamp(60pt,6vw,100pt);
    margin-top: 1vw;
    margin-left: -8%;
}


.button {
    width : clamp(50pt,6vw,100pt);
    float:right;
    color:white;
    font-size:clamp(10pt,2vw,25pt);
    background-color: rgb(79, 79, 197);
    border :1px solid pink;
    border-radius: 5px;
    transition:0.3s;
}

.button:hover{
    color : pink;
    background-color: darkblue;

}

.button_menu{
    width : clamp(40pt,18vw,250pt);
    margin-left: -9vw;
    margin-top: 2vw;
    color: darkblue;
    background-color: rgb(241, 212, 217);
    border: 2px solid pink;
    position: fixed;
   

    text-align: center;
    font-size:clamp(10pt,4vw,25pt);

    transition:0.4s;

}   

.button_menu:hover{
    color: white;
    background-color: darkblue ;
}

/*projet*/

.Croquis {
    color: darkblue;
}

.copyright{
    color: grey;
    font-size: 8pt;
}
/*project menu page */
.project{
    position: relative;
    text-align: center;
    margin-left: -20vw;
}


.projectImg{
   
    height : 200px;
    
    overflow : hidden;
    object-fit: cover;
    width: 60%;

    opacity:0.75;
    filter: brightness(125%);
}
.projectText{
    
    background-color: rgb(245, 212, 217);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color:darkblue;
}

.project:hover{
    margin-left : -15vw;
}

/* Portfolio Page*/

.portfolio {
    padding: 2vw;
}

.projectPortfolio {
    width: 50%;
    float: left;
    padding: 20px;
}

.projectPortfolioImg{  
    height : 30vw;
    width: 30vw;
    
    overflow : hidden;
    object-fit: cover;
    width: 60%; 

    opacity:0.75;
    filter: brightness(125%);
}
.projectPortfolioText{
    color:darkblue;
    font-size: 2vw;
    width: 25vw;
    margin-left : 10vw;
}

.projectPortfolio:hover{
    margin-left : -2vw;
}

.space{
    margin-bottom : 20vw;
}


